#recordingScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#screen {
    padding-top: 5px;
    padding-bottom: 5px;
}

.audioHolder {
    display: flex;
    justify-content: center;
}

#audioOrganizer {
    padding-top: 20px;
}

#visualMetronome {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.circle {
    padding-right: 5px;
    padding-left: 5px;
}